p{
  font-size: 14px;
  color: #262626;
}

.section{
  margin: 50px 0;
  padding-bottom: 40px;
  padding-top: 40px;
}

.main-heading{
  color:rgb(204, 18, 18);
  font-weight: bolder;
  font-size: 50px;
}

.underline{
  height: 04px;
  width: 4rem;
  background-color: #f76c2f;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bg-c-light{
   background-color: #f2f2f2;
}

.footer a{
  text-decoration: none;
  color: #fff;
}

.footer a:hover{
   
  color: grey ;
}

input{
  outline-width: 0!important ;
}